{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ data.workItems[req.query.id] }}
      </h1>

      {{data.workItems[0].id}}
      {# CREATE DETAILS ROUTE TO ALLOW FOR SINGLE ITEM TO BE USED HERE - INCLUDING DESCRIPTION #}

    </div>
  </div>

{% endblock %}
